.chat-main
  .chat-main__group-info
    .main-leftbox
      %h2.info
        = @group.name
      %ul.menber-list
        Menber:
        - @group.users.each do |user|
          =user.name
    .main-rightbox 
      = link_to edit_group_path(@group.id), class: "chat-main__btn" do
        Edit
       
 
  .chat-main__list
    .messages
      = render partial: 'message', collection: @messages
      

  .chat-main__from
    = form_for [@group, @message] do |f|
      = f.text_field :content, class: 'form__message', placeholder: 'type a message'
      .form__mask
        = f.label :image, class: 'form__mask__image' do
          = icon('fas', 'image', class: 'icon')
          = f.file_field :image, class: 'hidden'
      = f.submit 'Send', class: 'form__submit' 
